:root {
  --ftr-bg: #2e2f42;
  --light: #ffffff;
  --navy-blue: #2e2f42;
}
* {
  font-family: "Montserrat", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}
body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
  background-color: var(--light);
  color: #434455;
}
.web {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.studio {
  color: #2e2f42;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.nav-menu {
  color: var(--navy-blue);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-menu .link:hover,
.nav-menu .link:focus {
    color: #404bbf;
}
address {
    font-style: normal;
}
.reference {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.hero-title {
  color: #ffffff;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}
.hero-section {
  width: 1440px;
  height: 600px;
  background-color: #2e2f42;
}
.hero-btn {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
    cursor: pointer;
}
.top {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.advantages-list {
    list-style: none;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.subtitle {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.filter-btn {
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  background-color: #f4f4fd;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.filter-btn:hover {
  border-radius: 4px;
  background-color: #404bbf;
  box-shadow: 0px 2px 2px 0px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
}
.filter-item {
  color: var(--iris, #4d5ae5);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}
.footer {
  background-color: var(--ftr-bg);
}
.light-bg {
  background-color: var(--light);
}
